.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imgdiv{
  width:130px;
  height: 150px;
  margin-left:30;
  
}
.content{
  margin-top: -160px;
  margin-left:180px;
}
.img{
  height:150px;
  width:130px;
  margin-left:30px;


  
}
.container{
  width:530px;
  height:1029px;
  border:1.50px solid blue;
  margin-left: 500px;
  background-color:ivory

}